.plus_icon {
    font-size: 25px;
    font-weight: 600;
    color: green;
    text-align: center;
}
a:hover {
    text-decoration: none
}
.form_items{
    background-color: #203139;
    height: 95vh;
}
.form_items input{
    color: #e3e3e3;
    font-size: 25px;
    font-weight: bold;
}
.form_items input:hover{
    color: #e3e3e3;
    margin-left: 10px;
    transition: .5s;
}
.form_items input:focus{
    box-shadow: none !important;
    outline: none !important;
}
.f_item{
    border-bottom: 1px solid #e3e3e3;
}